#include <os2.h>
#include "pmdefs.h"

POINTER ID_RESOURCE asteroid.ico

DLGTEMPLATE IDD_ABOUT PRELOAD MOVEABLE DISCARDABLE
{
  DIALOG "",0,-29,-10,105,75,
    FS_NOBYTEALIGN|FS_DLGBORDER|FS_MOUSEALIGN|WS_VISIBLE|WS_SAVEBITS
  {
    CTEXT   ASTEROID_VER,		-1,  3, 63, 99,  8
    CTEXT   "BY",			-1,  3, 48, 99,  8
    CTEXT   "TODD B. CROWE",		-1,  3, 32, 99,  8
    CTEXT   "(c) 1991-1993", 		-1,  3, 23, 99,  8
    DEFPUSHBUTTON "OK", 	    DID_OK, 13,  4, 32, 13, WS_GROUP
    PUSHBUTTON	  "EXIT",	DID_CANCEL, 58,  4, 32, 13
  }
}

DLGTEMPLATE IDD_KEY PRELOAD MOVEABLE DISCARDABLE
{
  DIALOG "Key Definitions", 1, -41, -8, 142, 110,
    FS_NOBYTEALIGN|FS_DLGBORDER|FS_MOUSEALIGN|WS_VISIBLE|WS_SAVEBITS,
    FCF_TITLEBAR
  {
    CTEXT  "Select key to change, then",    -1,   4,  97, 133,	 8
    CTEXT  "press new key combination.",    -1,   4,  87, 133,	 8

    AUTORADIOBUTTON "Turn Left",      KEY_LEFT,   8,  74,  72,	10,
       BS_NOPOINTERFOCUS | BS_NOCURSORSELECT
    AUTORADIOBUTTON "Turn Right",    KEY_RIGHT,   8,  64,  72,	10,
       BS_NOPOINTERFOCUS | BS_NOCURSORSELECT
    AUTORADIOBUTTON "Thrust",	    KEY_THRUST,   8,  54,  72,	10,
       BS_NOPOINTERFOCUS | BS_NOCURSORSELECT
    AUTORADIOBUTTON "Hyperspace",    KEY_HYPER,   8,  44,  72,	10,
       BS_NOPOINTERFOCUS | BS_NOCURSORSELECT
    AUTORADIOBUTTON "Fire",	      KEY_FIRE,   8,  34,  72,	10,
       BS_NOPOINTERFOCUS | BS_NOCURSORSELECT
    AUTORADIOBUTTON "Shield",	    KEY_SHIELD,   8,  24,  72,	10,
       BS_NOPOINTERFOCUS | BS_NOCURSORSELECT

    LTEXT  "",			     TEXT_LEFT,  80,  75,  58,	 8
    LTEXT  "",			    TEXT_RIGHT,  80,  65,  58,	 8
    LTEXT  "",			   TEXT_THRUST,  80,  55,  58,	 8
    LTEXT  "",			    TEXT_HYPER,  80,  45,  58,	 8
    LTEXT  "",			     TEXT_FIRE,  80,  35,  58,	 8
    LTEXT  "",			   TEXT_SHIELD,  80,  25,  58,	 8

    PUSHBUTTON	    "Ok",		DID_OK,  22,   2,  38,	13, WS_GROUP
    PUSHBUTTON	    "Cancel",	    DID_CANCEL,  82,   2,  38,	13
  }
}

MENU ID_RESOURCE PRELOAD
{
    SUBMENU "~Game", IDM_GAME
    {
	SUBMENU "~New", IDM_START
	{
	    MENUITEM "~1 Player Game\t1", IDM_START1
	    MENUITEM "~2 Player Game\t2", IDM_START2
	}
	MENUITEM "~Frame Controls\t^F",   IDM_FRAME
	MENUITEM "~Background\t^B",	  IDM_BACKGRND
	MENUITEM "~Pause Game\t^P",	  IDM_PAUSE
	MENUITEM "S~top Game",		  IDM_STOP, , MIA_DISABLED
	MENUITEM SEPARATOR
	MENUITEM "E~xit\tF3", IDM_EXIT
    }
    SUBMENU "~Options", IDM_OPTION
    {
	SUBMENU "~Ships", IDM_SHIPS
	{
	    MENUITEM "~3", IDM_3SHIPS
	    MENUITEM "~4", IDM_4SHIPS
	    MENUITEM "~5", IDM_5SHIPS
	}
	SUBMENU "~Photons", IDM_PHOTONS
	{
	    MENUITEM "~3", IDM_3PHOTONS
	    MENUITEM "~4", IDM_4PHOTONS
	    MENUITEM "~6", IDM_6PHOTONS
	    MENUITEM "~8", IDM_8PHOTONS
	}
	MENUITEM "~Rapid Fire", IDM_RAPIDFIRE
	SUBMENU "~Fire Rate", IDM_FIRERATE, , MIA_DISABLED
	{
	    MENUITEM "~Slow",	IDM_SLOWRATE
	    MENUITEM "~Medium", IDM_MEDRATE
	    MENUITEM "~Fast",	IDM_FASTRATE
	}
	MENUITEM "S~hield", IDM_SHIELD
	MENUITEM SEPARATOR
        MENUITEM "~Mouse\t^M", IDM_MOUSE
	MENUITEM "Keys...\t^K", IDM_KEYS
    }
    SUBMENU "~Help", IDM_HELPMENU, MIS_BUTTONSEPARATOR
    {
	MENUITEM "~Help for help...", IDM_HELPFORHELP
	MENUITEM "~Extended help...", IDM_EXTENDEDHELP
	MENUITEM "~Keys help...",     IDM_KEYSHELP
	MENUITEM "Help ~index...",    IDM_HELPINDEX
	MENUITEM SEPARATOR
	MENUITEM "~About...",	      IDM_ABOUT
    }
}

ACCELTABLE ID_RESOURCE PRELOAD
{
    VK_F3, IDM_EXIT,	 VIRTUALKEY
    "1",   IDM_START1
    "2",   IDM_START2
    "b",   IDM_BACKGRND, CONTROL
    "B",   IDM_BACKGRND, CONTROL
    "f",   IDM_FRAME,	 CONTROL
    "F",   IDM_FRAME,	 CONTROL
    "k",   IDM_KEYS,	 CONTROL
    "K",   IDM_KEYS,	 CONTROL
    "m",   IDM_MOUSE,	 CONTROL
    "M",   IDM_MOUSE,	 CONTROL
    "p",   IDM_PAUSE,	 CONTROL
    "P",   IDM_PAUSE,	 CONTROL
    "x",   IDM_EXIT,	 CONTROL
    "X",   IDM_EXIT,	 CONTROL
}

HELPTABLE ID_RESOURCE {
   HELPITEM ID_CLIENTWND, IDH_CLIENT, IDH_CLIENTEXTEND
   /* HELPITEM IDD_KEY,  IDH_KEY,  IDH_KEYEXTENDED */
}

HELPSUBTABLE ID_CLIENTWND {
   HELPSUBITEM IDM_GAME,	 IDH_GAME
   HELPSUBITEM IDM_START,	 IDH_START
   HELPSUBITEM IDM_START1,	 IDH_START
   HELPSUBITEM IDM_START2,	 IDH_START
   HELPSUBITEM IDM_FRAME,	 IDH_FRAME
   HELPSUBITEM IDM_BACKGRND,	 IDH_BACKGRND
   HELPSUBITEM IDM_PAUSE,	 IDH_PAUSE
   HELPSUBITEM IDM_STOP,	 IDH_STOP
   HELPSUBITEM IDM_EXIT,	 IDH_EXIT
   HELPSUBITEM IDM_OPTION,	 IDH_OPTION
   HELPSUBITEM IDM_SHIPS,	 IDH_SHIPS
   HELPSUBITEM IDM_3SHIPS,	 IDH_SHIPS
   HELPSUBITEM IDM_4SHIPS,	 IDH_SHIPS
   HELPSUBITEM IDM_5SHIPS,	 IDH_SHIPS
   HELPSUBITEM IDM_PHOTONS,	 IDH_PHOTONS
   HELPSUBITEM IDM_3PHOTONS,	 IDH_PHOTONS
   HELPSUBITEM IDM_4PHOTONS,	 IDH_PHOTONS
   HELPSUBITEM IDM_6PHOTONS,	 IDH_PHOTONS
   HELPSUBITEM IDM_8PHOTONS,	 IDH_PHOTONS
   HELPSUBITEM IDM_RAPIDFIRE,	 IDH_RAPIDFIRE
   HELPSUBITEM IDM_FIRERATE,	 IDH_FIRERATE
   HELPSUBITEM IDM_SLOWRATE,	 IDH_FIRERATE
   HELPSUBITEM IDM_MEDRATE,	 IDH_FIRERATE
   HELPSUBITEM IDM_FASTRATE,	 IDH_FIRERATE
   HELPSUBITEM IDM_SHIELD,	 IDH_SHIELD
   HELPSUBITEM IDM_KEYS,	 IDH_KEYS
   HELPSUBITEM IDM_HELPMENU,	 IDH_HELPMENU
   HELPSUBITEM IDM_HELPFORHELP,  IDH_HELPFORHELP
   HELPSUBITEM IDM_EXTENDEDHELP, IDH_EXTENDEDHELP
   HELPSUBITEM IDM_KEYSHELP,	 IDH_KEYSHELP
   HELPSUBITEM IDM_HELPINDEX,	 IDH_HELPINDEX
   HELPSUBITEM IDM_ABOUT,	 IDH_ABOUT
}
